/*
    Color Palette
    Primary Color salmon: (220, 137, 128)
    Secondary Color dark grey: (29, 28, 27)
    color purpleish: (188, 147, 142)
    color tan: (230, 189, 168)

    Background Color: #F7EAE8

    Typography:
    Headlines: font-family: 'Lato', sans-serif;
    Body Copy: font-family: 'PT Serif', serif;
*/

/* Global */
body {
background-color: #EBC2C5 
}


/* Typography */
h1, h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
}
p, {
   font-family: 'PT Serif', serif;
   font-kerning: normal;
    text-align: justify;
    font-weight: 200;
}

blockquote {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight:200;
    font-kerning: normal;
}